<h2>Products</h2>

<div *ngFor="let singleProduct of productFromFile">
  <h3>
    <a 
    [title]="singleProduct.name + ' details'"
    [routerLink]="['/products', singleProduct.id]">
      {{ singleProduct.name }}
    </a>
  </h3>

  <p *ngIf="singleProduct.description">
    Description: {{ singleProduct.description }}
  </p>

  <button type="button" (click)="share()">Share</button>

  <app-product-alerts [productInput]="singleProduct" (notify)="onNotify()">
  </app-product-alerts>
</div>
